body{
    margin: 0px;
}

dialog{
    margin: auto;
    width: 40vw;
    height: 21vh;
    background-color: #dadbf1;
    display: flex;
    justify-content: center;
    align-items: center;
    &>#search_dialog_content>button{
        background-color: black;
        color: white;
        height: 4vh;
        width: 5vw;
        border-radius: 5px;

        &:hover{
            cursor: pointer;
        }
    }
    
}

#header>nav{
    height: 10vh;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    &>#right_side{
        margin-right: 5vw;
        &>input{
            border-radius: 5px;
            height: 5vh;
            color: white;

            &[type="submit"]{
                background-color: rgba(0, 0, 0, 0);
                border: 1px solid white;
                width: 8vw;
            }

            &[type="button"]{
                background-color:#4C5FD5;
                width: 5vw;
            }

            &:hover{
                cursor: pointer;
            }
        }
    }

    &>#left_side{
        margin-left: 5vw;

        &>a{
            color: white;
            text-decoration: none;
        }
    }
}

#banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#dadbf1;
    height: 60vh;

    &>#banner_content{
        margin: auto;

        &>h1{
            font-size: 65px;
        }

        &>#search_bar>form>input[type="text"]{
            width: 33vw;
            height: 4vh;
        }
    }
}

#options{
    margin: auto;
    width: 70vw;
    padding-top: 5vh;
    height: 75vh;
    padding-bottom: 5vh;

    &>#options_middle_row{
        padding-bottom: 4vh;
    }

    &>#options_top_row, &>#options_middle_row, &>#options_bottom_row{
        display: flex;
        justify-content: space-between;
        height: calc((5/15)*70vh);


        &>div{
            width: calc((3.5/10)*85vw);

            &>div>a{
                text-decoration: none;
            }
        }
    }

    &>#options_top_row>#options_top_row_left, &>#options_top_row>#options_top_row_right,
    &>#options_middle_row>#options_middle_row_left, &>#options_bottom_row>#options_bottom_row_left{

        display: flex;
        justify-content: space-between;

        &>#top_row_left_image>img, &>#top_row_right_image>img,
        &>#middle_row_left_image>img, &>#bottom_row_left_image>img{

            width: 5vw;
            height: 7.5vh;
            padding-top: 5vh;
            padding-right: 1vw;

        }

    }

    &>#options_middle_row>#options_middle_row_right, &>#options_bottom_row>#options_bottom_row_right{
            display: flex;

            &>#middle_row_right_image>img, &>#bottom_row_right_image>img{
                width: 5vw;
                height: 7.5vh;
                padding-top: 5vh;
                padding-right: 1vw;
            }
    }
}
